@use './src/sass/mixins'
@use './src/sass/vars'
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap')

@keyframes slide
    0%
        right: -100vw
    100%
        right: 0

@keyframes emerge
    0%
        bottom: -100vh
    100%
        bottom: 0

#gallery-container
    @include mixins.view-container

    margin-top: -39px

    overflow: hidden

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    background-color: #d9d7d3

    p
        position: relative
        font:
            family: sans-serif
            size: 12pt
            weight: bold
        color: #8a8a8a
        animation: emerge 0.5s

    #artwork-container
        position: relative
        display: flex
        align-items: center
        overflow-y: visible
        overflow-x: auto
        max-width: 100%
        height: 375px

        transition: height 0.4s
        animation: slide 0.7s

        &:hover
            height: 500px

        &:hover
            img:not(:hover)
                filter: blur(3px) grayscale(50%)

        &:hover
            img:hover
                width: 600px
                height: 450px
                margin-top: -55px

        &:hover
            img:hover
                ~ span
                    opacity: 100%
        span
            pointer-events: none
            opacity: 0
            transition: opacity 0.8s

            font:
                size: 92pt
            color: #90b0bb

            position: absolute
            top: 50%
            margin-left: -138px
            z-index: 1

    .image-container
        height: 350px

        margin-left: 25px

        &:nth-child(even)
            height: 300px

        &:nth-child(even) img
            height: 300px
            width: 280px

    img
        width: 290px
        height: 350px

        object-fit: cover

        transition: filter 0.4s, width 0.4s, height 0.4s, margin-top 0.4s

    #scroll-container
        position: relative
        display: flex
        align-items: center
        animation: emerge 0.5s

        input
            position: relative
            &:nth-child(1)
                transform: rotate(-90deg)

            &:nth-last-child(1)
                transform: rotate(90deg)

        #scroll
            position: relative
            height: fit-content
            width: 160px
            background-color: rgb(202, 200, 196)
            border-radius: 20px
            margin-left: 5px

            > div
                position: relative

                height: 4px
                width: 40px

                border-radius: 20px
                background-color: rgb(144, 143, 138)

                transition: left 0.1s linear

        span
            font:
                family: 'PT Serif', serif
                size: 45pt
            color: #69665b

@media screen and ( max-width: 690px)
    #gallery-container
        #artwork-container
            &:hover
                img:hover
                    width: 520px
                    height: 370px
                    margin-top: -55px

            &:hover
                img:hover
                    ~ span
                        font-size: 65pt

        #scroll-container
            input
                top: 45px
                &:nth-child(1)
                    left: 45px
                &:nth-last-child(1) 
                    left: -45px
            span
                font-size: 32pt
