@use './src/sass/mixins'

@keyframes appear
    0%
        opacity: 0
    100%
        opacity: 1

#artists-container

    .artist-container:nth-child(1)
        p
            align-self: center

    @include mixins.view-container
    height: fit-content

    background-color: #90b0bb

    padding-top: 43px

    img
        object-fit: cover
        margin: 6px

        &:nth-child(1)
            width: 250px
            height: 310px
            animation: appear 0.5s

        &:nth-child(2)
            width: 220px
            height: 270px

            position: absolute
            left: -232px
            top: 125px

            animation: appear 1s

        &:nth-child(3)
            width: 370px
            height: 440px
            animation: appear 1.5s

    .artist-container
        display: flex
        position: relative

        p
            animation: appear 1s
            font:
                family: 'Montserrat'
                size: 25pt

            color: #f1e6ac

            height: fit-content

            margin:
                right: 380px
                left: 60px

            width: 180px

    #image-container
        display: flex
        flex-direction: column
        position: relative
        width: 350px
