@use './src/sass/mixins'
@use './src/sass/vars'
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap')

main
    @include mixins.view-container
    margin-top: -39px
    height: 200vh
    background:
        position: center
        image: url('../../src/assets/background.jpg')
        repeat: no-repeat
        size: cover

    #welcome-container
        height: 100vh

        h1
            font:
                family: vars.$alkalami
                size: 22vw
            color: vars.$font-color
            margin-left: 20px

        div
            height: 42%
            margin-right: 45px
            text-align: right

            p
                color: vars.$font-color
                font:
                    size: 30pt

            p:nth-child(2)
                span
                    font-family: 'Courier New', Courier, monospace

    #presentation-container
        padding: 0 50px 0 50px
        display: flex
        flex-direction: column
        justify-content: space-around

        div
            &:nth-child(1)
                text-align: center
                margin-top: 150px
                color: vars.$font-color

@media screen and (max-width: 580px)
    main
        display: flex
        flex-direction: column
        justify-content: space-evenly
        height: 100vh
        h1
            padding-top: 25px
        #welcome-container
            height: fit-content
            > div
                
                
                margin: 0
                text-align: center
                p
                    font-size: 25pt
                
