@use './src/sass/mixins'
@use './src/sass/vars'

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap')

@mixin header-buttons
    width: 40px
    height: 40px

#artist-container
    margin-top: -39px
    padding-top: 39px
    display: flex
    width: 100vw
    height: 100vh
    background-color: vars.$font-color
    padding-left: 1vw
    font-family: vars.$almarai

    #left-container
        display: flex
        flex-direction: column
        justify-content: space-between
        padding:
            top: 25px
            bottom: 25px
        width: 45vw

    #header-container
        font-size: 25pt
        display: flex
        justify-content: space-between

        > div
            display: flex
            align-items: center

        img
            @include header-buttons
            border-radius: 100%

        button
            cursor: pointer
            margin-right: 25px
            border-radius: 100%
            background: none
            border: 1px solid gray
            padding-bottom: 2px
            @include header-buttons

    #artist-artworks
        display: flex
        flex-direction: column
        align-items: center
        overflow-x: scroll
        > div
            height: fit-content
            width: 90%
            display: flex
            overflow-x: scroll

            img
                width: 122px
                height: 150px
                &:not(:nth-last-child(0))
                    margin-left: 3px
        p
            text-align: center

    #artist-name
        font-size: 30pt
        p:nth-child(2)
            font:
                size: 15pt
            color: gray

    #artist-info
        display: flex
        padding-right: 25px
        > div
            align-self: flex-end
        > p
            font:
                size: 9pt
                family: 'PT Serif', serif
            width: 32.5vw
        p
            &:nth-child(1)
                width: 225px

            &:not(:nth-child(1))
                width: fit-content

    #artist-portrait-container
        position: relative
        > img
            outline: 1px solid black
            position: absolute
            width: 54vw
            height: calc(100vh - 39px)
    img
        object-fit: cover

@media screen and (max-width: 1040px)
    #artist-container
        #artist-info
            display: block
