@use './src/sass/mixins'
@use './src/sass/vars'

header
    position: sticky
    top: 0
    width: 100%
    display: flex
    justify-content: center
    z-index: 1

    > div
        font-family: 'Open Sans', sans-serif
        display: flex
        width: 98vw
        padding: 10px 0 10px 0

        > span:nth-last-child(1)
            > a
                position: absolute
                font:
                    family: 'Alkalami', serif
                    size: 20pt
                color: vars.$font-color
                left: 45%
                right: 50%
                top: -2px

@media screen and (max-width: 760px)
    header
        > div
            justify-content: center
            > span:nth-last-child(1)
                display: none
